{% extends 'base.html' %}

{% block content %}

{% include 'sort_buttons.html' %}
<p>
<table style="width:40%" class="center">
    <tr>
        <th style="width:10%" class="text-center">Position</th>
        <th style="width:20%">Pilot</th>
        <th style="width:40%" >Car</th>
        <th style="width:10%">Time</th>
    </tr>
    {% for position in content['results'] %}
        <tr>
            {% if position[0] == 16 and not content['reversed'] %}
            <tr>
                {% for n in range(4) %}
                    <td>---------</td>
                {% endfor %}
            </tr>
            {% endif %}
            <td>{{ position[0] }}</td>
            <td>{{ position[1] }}</td>
            <td class="mytd">{{ position[2] }}</td>
            <td>{{ position[3] }}</td>
            {% if position[0] == 16 and content['reversed'] %}
            <tr>
                {% for n in range(4) %}
                    <td>---------</td>
                {% endfor %}
            </tr>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock content %}
